:root {
  --primary-color: #ffffff;
  --secondary-color: #1e1e1e;
  --tertiary-color: #4b4a4b;
  --quaternary-color: rgb(109, 109, 214);

  --primary-font: 'Courier New', Courier, monospace;
  --secondary-font: 'Courier New', Courier, monospace;

  --primary-font-size: 1rem;
  --secondary-font-size: 1.2rem;
  --tertiary-font-size: 1.5rem;
  --quaternary-font-size: 2.5rem;
  --quinary-font-size: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: var(--primary-font);
  transition: all 1.5 ease;
  min-height: 80vh;
}

h2 {
  font-size: var(--tertiary-font-size);
}

a,
p,
li {
  font-size: var(--primary-font-size);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

img {
  width: 100%;
}

#github-img {
  height: 20px;
  width: 20px;
}

#github-button {
  gap: 0.5rem;
}

.experience-img-container {
  max-width: 400px;
  align-self: center;
  padding: 2rem;
  max-height: 200px;
}

.experience-img {
  max-width: 100%;
  border-radius: 20px;
}

.experience-img:hover {
  scale: 1.05;
}

#cex-img {
  max-height: 175px;
}

form {
  margin: 2rem;
}

input {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  margin-top: 1rem;
  gap: 1rem;
  min-height: 10vh;
}

header > .logo {
  font-size: 35px;
  transform: 0.2 ease;
  max-height: 50px;
  margin-left: 3rem;
}

header > .logo:hover {
  transform: scale(1.1);
}

header > nav {
  width: 80%;
}

header > nav > ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

header > nav > ul > li {
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  padding: 0.7rem;
}

header > nav > ul > li:hover {
  background-color: var(--primary-color);
}

header > nav > ul > li > a:hover {
  color: var(--secondary-color);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  opacity: 0;
  overflow: hidden;
  transition: opacity 1s ease;
  animation: fade-in 1s ease;
  gap: 2rem;
}

section:not(.hidden) {
  opacity: 1;
}

section > h2 {
  padding: 1rem;
}

.cta:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.school-link:hover {
  color: var(--quaternary-color);
}

.introduction-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  padding: 1rem;
  background-color: var(--tertiary-color);
  border-radius: 10px;
}

.image-container {
  position: relative;
  width: 300px;
}

.image-container > img,
#certificate {
  border-radius: 10%;
}

.image-container > img:hover,
#certificate:hover {
  scale: 1.01;
}

.image-container > h2 {
  text-align: center;
}

.text-container {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.text-container > ul > li {
  margin: 1rem;
}

#skills-content {
  gap: 2rem;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.skill-list > li {
  width: 300px;
  padding: 15px;
  background-color: var(--tertiary-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.skill-list > li:hover {
  scale: 1.1;
}

.hidden > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#projects-title {
  text-align: center;
  padding: 1rem;
}

.projects-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  padding: 1rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  gap: 1rem;
  background-color: var(--tertiary-color, 0.5);
  border-radius: 10px;
  min-height: 350px;
}

.project-img {
  width: 100%;
  border-radius: 10px;
}

.project:hover {
  scale: 1.1;
}

.project-description {
  text-align: center;
  scale: 0.9;
}

figure > a {
  color: var(--quaternary-color);
}

figcaption {
  text-align: center;
  font-size: var(--secondary-font-size);
}

#experience-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 60%;
}

.experience-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

#download-button {
  margin-top: 3rem;
}

.cta {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}

#contact-content {
  gap: 2rem;
}

#contact-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

#introduction-content {
  padding-top: 3rem;
}

#unity-title,
#web_design-title {
  font-size: var(--secondary-font-size);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  opacity: 0;
  transition: opacity 1s ease;
  height: 10vh;
}

footer:not(.hidden) {
  opacity: 1;
}

.hidden {
  display: none !important; /* Agrega !important para asegurarte de que prevalezca */
  opacity: 0;
  visibility: hidden; /* Añade visibility: hidden; */
  transition: opacity 1s ease, visibility 0s 1s; /* Añade una transición para ocultar la sección */
}

.name-li,
.career-li,
.school-li,
.availability-li {
  list-style: square;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  min-height: 80vh;
}
